{% extends "base.html" %}
{% block page_title %}{{ page_title }}{% endblock %}
{% block header %}
    <!-- Next tag loads Charts.js https://www.chartjs.org/docs/latest/ -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.2/chart.min.js"
            integrity="sha512-tMabqarPtykgDtdtSqCL3uLVM0gS1ZkUAVhRFu1vSEFgvB73niFQWJuvviDyBGBH22Lcau4rHB5p2K2T0Xvr6Q=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}

{% block content %}
    <h2>Quick Stats</h2>
    <h4>Clicked docs:</h4>

    {% for doc in clicks_data %}
        <div class="pb-3">
            <div class="">
                <span> ({{ doc.count }} visits) </span> — id: {{ doc.id }} — {{ doc.title }}
            </div>
        </div>
        <hr>
    {% endfor %}

    <h4>Users:</h4>
    {% for user in users %}
        <div class="pb-3">
            <div class="">
                <span> ({{ user[0] }}) </span> — Date: {{ user[1] }} — Queries: {{ user[2] }}
            </div>
        </div>
        <hr>
    {% endfor %}

    <h4>Most common search terms:</h4>
    {% for term in terms %}
        <div class="pb-3">
            <div class="">
                <span> {{ term[0] }} </span> — {{ term[1] }}
            </div>
        </div>
        <hr>
    {% endfor %}

{% endblock %}