{% extends "base.html" %}
{% block page_title %}{{ page_title }}{% endblock %}
{% block content %}
    <div class="pb-3">
        <div style="background-color: rgba(180,180,180, 0.5); padding: 20px; border-radius: 10px;">
            <div class='centered' style="font-size: 15px">
                <p>
                    {{doc.doc_date}}
                </p>
            </div>
            <hr>
            <div style="font-size:30px">
                Text: {{doc.description}}
            </div>
            <hr>
            <div style="font-size:15px">
                <p>
                    User: {{doc.user}}
                </p>
                <hr>
                <p>
                    Likes: {{doc.likes}} <br>
                    Retweets: {{doc.retweets}}
                </p>
                <hr>
                <p>
                    Link to tweet: <cite> <a href="{{ doc.link }}">{{ doc.link }}</a></cite>
                    <br>
                    Link inside tweet:<cite> <a href="{{ doc.url }}">{{ doc.url }}</a></cite>
                </p>
                <hr>
                <p>
                    Hashtags: {{', '.join(doc.hashtags)}}
                </p>
            </div>
        </div>
    </div>
    <hr>
    <div><a href="#" onclick="history.go(-1)">Go Back</a></div>
    <div><a href="#" onclick="history.go(-2)">Go Back 2 pages</a></div>
    <div><a href="#" onclick="history.go(-3)">Go Back 3 pages</a></div>
    <div><a href="#" onclick="history.go(-4)">Go Back 4 pages</a></div>
    <div><a href="/stats" >Stats</a></div>
    <div><a href="/dashboard" >Dashboard</a></div>
{% endblock %}